.slideshow-image {
  border-radius: 7%;
  width: 500px;
  height: fit-content;
  margin-top: 26px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slideshow-container {
  border-radius: 5%;
  justify-content: center;
  display: flex;
  margin-top: 15px;
  margin-right: 15px;
  width: 550px;
  height: 550px;
  background-color: #241b2b;
}

.img-changing {
  opacity: 0;
  -webkit-animation: slideAnimation 2s ease-in forwards;
  -moz-animation: slideAnimation 2s ease-in forwards;
  animation: slideAnimation 2s ease-in forwards;
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
